@import "tailwindcss";

:root {
  --background: #f8fafc;
  /* Light gray background for contrast */
  --foreground: #171717;

  /* KERA Brand Colors */
  --kera-dark-green: #004225;
  --kera-vibrant-green: #00BE62;
  --kera-light-green: #E0F2F1;
  --kera-text-dark: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-kera-dark: var(--kera-dark-green);
  --color-kera-vibrant: var(--kera-vibrant-green);
  --color-kera-light: var(--kera-light-green);
  --color-kera-text: var(--kera-text-dark);
  --color-primary: var(--kera-dark-green);
  --color-secondary: var(--kera-vibrant-green);
  --color-accent: var(--kera-light-green);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}